.paper {
  padding: 10px;
  color: white;
  word-wrap: break-word;
  background-color: var(--paper-background);
}
  
.banner {
  padding: 20px;
  background-position: center;
  background-size: cover;
}

.avatar {
  width: 48px;
  height: auto;
}

.avatar img {
  border-radius: 12%;
}

.versus {
  font-weight: bold;
  font-size: 14px;
}

.left-image {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.footer {
  padding: 20px 0;
  font-weight: bold;
}

a {
  color: #e55039;
  text-decoration: none;
  transition: color 200ms ease-in;
}

a:hover {
  color: #da1d00;
}
